<header class="c-hdr">
    <div class="c-hdr__col">
        <a href="/">
            <img src="/img/logos/meriton.v1.svg" width="177" height="34" alt="Meriton" />
        </a>
    </div>
    <div class="c-hdr__col">
        <span class="c-hdr__lbl">Growth is Earned, Never Given</span>
        <button id="js-nav-trigger" class="c-hdr__btn-nav">
            <img src="/img/icons/nav-btn.v1.svg" width="30" height="15" alt="Toggle Navigation Menu" />
        </button>
    </div>
</header>