:root {
    // Layout styles
    --hdr-height: 65px;
    // --content-max-width: 1440px;

    // Fonts
    --font-primary: 'muli', sans-serif;
    --font-secondary: 'serif';

    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-heave: 800;

    // Colors
    --color-primary: #0097dc;
    --color-secondary: #33EDFF;
    
    --body-background: #fff;
    --body-color: #000;
}

// -----------------------
// Sass Media Query Breakpoints
// -----------------------
$bp-massive:	1800px;
$bp-xxwide:		1600px;
$bp-xwide:		1400px;
$bp-wide:		1200px;
$bp-comp:		1025px;
$bp-large:		1024px;
$bp-tablet:		768px;
$bp-mbl-bigger: 550px;
$bp-phone-land: 480px;
$bp-phone-lg:   370px;
$bp-phone-port: 320px;