// --------------------
// Hero
// --------------------
.c-portfolio-hero {
    @apply grid;
    align-items: stretch;
    background: #000;
    color: #fff;
    grid-template-columns: 1fr 66.67%;
    height: 49vh;
    max-height: 533px;
    
    &__col {
        @apply relative inline-flex;
        align-items: center;
        height: 100%;

        &:first-child {
            @apply p-8;
        }
    }

    &__hdr {
        @apply font-extrabold uppercase;
        font-size: 44px;
        line-height: 1.58;

        @include mq($bp-tablet) {
            font-size: 48px;
        }

        @include mq($bp-large) {
            font-size: 52px;
        }

        @include mq($bp-wide) {
            font-size: 56px;
        }

        @include mq($bp-xwide) {
            font-size: 60px;
        }
    }

    &__bg {
        @apply relative w-full;
        background: var(--bg-img) no-repeat center center;
        background-size: cover;
        height: 100%;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
            background-image: var(--bg-img-twox);
        }
    }
}


// --------------------
// Logo Bar
// --------------------
.c-portfolio-logos {
    @apply bg-black flex py-8 px-8;
    align-items: center;
    gap: 2rem;

    a {
        @apply inline-block;
    }
}


// --------------------
// Grid
// --------------------
.c-portfolio-grid {
    @apply grid;
    grid-template-columns: repeat(2, 1fr);

    &__cell {
        @apply flex;
        height: 45vh;
        max-height: 487px;

        &.--tall {
            height: 90vh;
            max-height: 974px;
        }
    }

    &__item {
        @apply block relative w-full;
        background: var(--bg-img) no-repeat center center;
        background-size: cover;
        overflow: hidden;
        text-decoration: none;

        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: var(--bg-img-twox);
        }

        &-slides {
            @apply absolute top-0 left-0 w-full h-full;
            display: grid;
            grid: [slide] 1fr / [slide] 1fr;
            z-index: 1;
        }

        &-slide {
            background: var(--bg-img) no-repeat center center;
            background-size: cover;
            grid-area: slide;
            opacity: 0;
            pointer-events: none;

            &.--is-visible {
                opacity: 1;
            }

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background-image: var(--bg-img-twox);
            }
        }

        &-content {
            @apply absolute z-10 bottom-6 left-6;
            color: #fff;
            transform: translateY(44px);
            transition: transform .3s ease-in-out;
            z-index: 3;
        }

        &-name {
            @apply block mb-4;
            font-size: 32px;
            left: 1.5rem;
            line-height: 1;
        }

        p {
            @apply opacity-0;
            transition: opacity .3s ease-in-out .35s;
        }

        &:after {
            @apply absolute opacity-0 top-0 left-0 w-full h-full;
            background: rgba(23, 23, 23, .75);
            content: '';
            transition: opacity .3s ease-in-out;
            z-index: 2;
        }

        &:hover {
            &:after {
                @apply opacity-100;
            }

            .c-portfolio-grid__item-content {
                transform: translateY(0);
            }

            p {
                @apply opacity-100;
            }
        }
    }
}


// --------------------
// Dialog
// --------------------
.c-portfolio-dialog {
    @apply fixed flex top-0 left-0 w-full h-full;
    align-items: center;
    background: #fff;
    justify-content: center;
    opacity: 0;
    transition: opacity .6s cubic-bezier(.3, 0, .4, 1);
    z-index: 100;

    &.--is-visible {
        opacity: 1;
    }

    &__container {
        @apply grid relative h-full w-full m-0;
        align-items: stretch;
        grid-template-columns: 32.5% 67.5%;
        transform: scale(.85) translateY(-2rem);
        transform-origin: center top;
        transition: transform .6s cubic-bezier(.3, 0, .4, 1);

        .--is-visible & {
            transform: scale(1) translateY(0);
        }
    }

    &__col {
        @apply relative h-full;

        &:first-child {
            @apply flex p-8 text-center;
            flex-direction: column;
            justify-content: center;
        }

        &:last-child {
            background: var(--bg) no-repeat center center;
            background-size: cover;

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background-image: var(--bg-twoX);
            }
        }
    }

    &__hdr {
        margin: 0 0 3rem;
        text-align: center;

        img {
            display: inline-block;
            margin: 0;
        }
    }

    &__overview {
        margin: 0 0 3rem;

        p {
            font-family: var(--font-secondary);
            font-size: 20px;
            font-weight: var(--font-weight-bold);
            line-height: 1.4;
            margin: 0;
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__list {
        margin: 0 0 3rem;
        padding: 0;
        list-style: none;

        li {
            @apply flex;
            align-items: center;
            font-size: 20px;
            font-weight: var(--font-weight-bold);
            line-height: 1.1;

            &:not(:last-child) {
                margin-bottom :3rem;
            }
        }

        &-label {
            margin-right: .5rem;
        }

        &-value {
            @apply relative;
            font-family: var(--font-secondary);

            &:not(:last-child) {
                margin-right: 1rem;
                padding-right: 1rem;

                &:after {
                    @apply absolute h-full right-0 top-0;
                    border-right: 2px solid #000;
                    content: '';
                }
            }
        }
    }

    &__website {
        @apply text-left;
        border-bottom: 3px solid #000;
        margin: 0 0 1.5rem;
        padding-bottom: 4px;

        a {
            @apply inline-block text-black hover:text-black;
            font-size: 22px;
            font-weight: var(--font-weight-bold);
            line-height: 1;
            text-decoration: none;
        }
    }

    &__nav {
        display: flex;
        gap: 1rem;

        a,
        span {
            font-size: 16px;
            font-weight: var(--font-weight-bold);
            line-height: 1;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            @include link-colors(#000, #000);
        }
    }

    &__btn-close {
        @apply absolute flex right-8 top-8;
        align-items: center;
        background: 0;
        border: 0;
        cursor: pointer;
        justify-content: center;
        outline: 0;
        padding: 0;
        z-index: 2;
    }
}