<section class="c-home">
    <div class="c-home__logo">
        <img srcset="/img/logos/meriton-mark.v1.png, /img/logos/meriton-mark@2.v1.png 2x"
            src="/img/logos/meriton-mark.v1.png"
            width="136" height="141" alt="Meriton" />
    </div>
    <a class="c-home__tl" href="/portfolio">Portfolio</a>
    <a class="c-home__tr" href="/approach">Approach</a>
    <a class="c-home__bl" href="/about">About</a>
    <a class="c-home__br" href="/contact">Contact</a>
</section>